
body {
	font-size: 32px;
    display: block;
    height: 1500px;
    background-color: rgb(218, 255, 211);   
    font-family: 'helvetica';
    color: rgb(90, 228, 90);


}

#rectangle {
    width: 900px;
    height: 2300px;
    border-style: dotted;
    border-color:rgb(1, 105, 6);
    text-align: center;
    margin: auto;
    padding: 5%;
}

#title{
    color: rgb(0, 90, 27);
    font-size: 50px;

}

#ingredients {
    font-size: 30px;
    }

#instructions{
        font-size: 25px;
        }
    
#description{
    font-size: 30px;
}

/* pasta  */
#pasta-title{
    color: rgb(0, 90, 27);
    font-size: 50px;
    padding-top: 50px;
}

#pasta-ingredients {
    font-size: 30px;
    }

#pasta-instructions{
        font-size: 25px;
        }
    
#pasta-description{
    font-size: 30px;
}


/* reg  */
#reg-title{
    color: rgb(0, 90, 27);
    font-size: 50px;
    padding-top: 50px;
}

#reg-ingredients {
    font-size: 30px;
    }

#reg-instructions{
        font-size: 25px;
        }
    
#reg-description{
    font-size: 30px;
}






@media only screen and (max-width: 800px) {
    #rectangle {
        width: 300px;
        height:1700px;


    }
    #title{
        font-size: 20px;
    }
   #body{
       font-size: 15px;
   }
   #ingredients{
    font-size: 15px;
}
#instructions{
    font-size: 15px;
}
#time{
    font-size: 15px;
}

#description{
    font-size: 15px;
}
#grilledcheese{
    width: 200px;}

#author{
        font-size: 10px;}


/* pasta */

#pasta-title{
    font-size: 20px;
}

  #pasta-ingredients{
  
    font-size: 15px;  
}  
  #pasta-instructions{
  
    font-size: 15px;  
}  
  #pasta-time{
  
    font-size: 15px;  
}
      
  #pasta-description{
  
    font-size: 15px;  
}  




/* reg */

#reg-title{
    font-size: 20px;
}

  #reg-ingredients{
  
    font-size: 15px;  
}  
  #reg-instructions{
  
    font-size: 15px;  
}  
  #reg-time{
  
    font-size: 15px;  
}
      
  #reg-description{
  
    font-size: 15px;  
}  

}